/*
__  __       _            _       _   _____            _               _____  _                       _
|  \/  |     | |          (_)     | | |  __ \          (_)             |  __ \(_)                     | |
| \  / | __ _| |_ ___ _ __ _  __ _| | | |  | | ___  ___ _  __ _ _ __   | |  | |_ ___  ___ ___  _ __ __| |
| |\/| |/ _` | __/ _ \ '__| |/ _` | | | |  | |/ _ \/ __| |/ _` | '_ \  | |  | | / __|/ __/ _ \| '__/ _` |
| |  | | (_| | ||  __/ |  | | (_| | | | |__| |  __/\__ \ | (_| | | | | | |__| | \__ \ (_| (_) | | | (_| |
|_|  |_|\__,_|\__\___|_|  |_|\__,_|_| |_____/ \___||___/_|\__, |_| |_| |_____/|_|___/\___\___/|_|  \__,_|
                                                          __/ |
                                                         |___/
I call it Material design theme, but it's just extreme box shadow theme, I have not found an good use of the CSS ripple
animation in discord yet because of how awkward everything is and there are certain things that I am uncertain about
which I might change in the future.

Credits:
https://github.com/Oliyy - Pretty much all the rest I made, in consultation with others
https://github.com/jakeoid - I used his light theme restriction code
https://github.com/Vap0r1ze - I edited his repo for adding nitro tags to users names.
https://github.com/AlexFlipnote - I used the scroll bar from his discord theme, because I hate coding scroll bars

If anyone has a problem with me using their code just PM me on discord Oliy#imcurrentlychangingmydiscrimfrequentlysowhenifindagoodoneiwillupdatethis
*/


/* === FONT IMPORTS === */

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

/* === COLOR VARIABLES === */

:root {
  --darksecondary: #2d2d2d;
  --darkprimary: #222222;
  --accent: #C62828;
}


/*  */


/* === SETTING GLOBAL FONT === */

* {
  font-family: 'Roboto', sans-serif;
}


/* === TEXT AREA & AUTOCOMPLETE POPOUT === */

.channel-textarea-inner, .channel-textarea.has-results .channel-textarea-inner {
  border: none;
}

.channel-textarea-inner .channel-textarea-upload {
  border-right-color: none;
}

.channel-textarea {
  margin: 0 0 0;
}

.message-group:last-of-type {
  margin-bottom: 20px !important;
}

.channel-textarea-inner textarea {
  background-color: transparent;
}

.channel-textarea-inner textarea::-webkit-input-placeholder {
  color: rgba(128, 128, 128, .9) !important;
}

.channel-textarea.channel-textarea-disabled {
  color: rgba(128, 128, 128, 1);
}

.channel-textarea-upload:hover {
  background-color: transparent;
  border: none;
}

.channel-textarea-inner, .channel-textarea.has-results .channel-textarea-inner {
  margin-top: 14px;
  margin-bottom: 14px;
}

.chat form {
  border: none;
  margin: 0px;
}

.typing {
  bottom: 100%;
  left: 10px;
  width: auto;
}

.channel-textarea-autocomplete-inner {
  border: 0!important;
  border-radius: 0px;
  border-bottom: 0px;
  box-shadow: 0;
}

.channel-textarea-autocomplete-inner header {
  border-bottom: 0px;
  margin-bottom: 5px;
}

.channel-textarea-autocomplete-inner ul {
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 0px!important;
}

.channel-textarea-autocomplete-inner li.active {
  border-radius: 0px;
}

.channel-textarea-autocomplete-inner li {
  border-radius: 0px;
  margin-bottom: 2px;
}

.channel-textarea-autocomplete-inner:after {
  border: none;
}

.theme-dark .channel-textarea-inner {
  background-color: transparent;
}

.theme-dark .channel-textarea-inner .channel-textarea-upload:hover {
  background-color: transparent;
}

.theme-dark .chat form .typing {
  background-color: #DA3A46;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 950px;
  margin-bottom: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  float: right;
}

.theme-dark .chat form {
  background-color: var(--darksecondary);
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: var(--darkprimary) var(--darkprimary) var(--accent) var(--darkprimary);
  color: var(--darkprimary);
}

.theme-dark #autocomplete-popout .row.selected, #autocomplete-popout .row:hover {
  background: #181818
}

.theme-dark #autocomplete-popout .row {
  -webkit-transition: all 50ms ease;
  transition: all 50ms ease;
}

.theme-dark #autocomplete-popout .scroller::-webkit-scrollbar {
  display: none
}

.theme-dark .channel-textarea-autocomplete-inner {
  background-color: var(--darkprimary)!important;
}

.theme-dark .channel-textarea-autocomplete-inner header {
  background-color: var(--darkprimary)!important;
}

.theme-dark .channel-textarea-autocomplete-inner ul {
  background-color: var(--darkprimary)!important;
}

.theme-dark .channel-textarea-autocomplete-inner li.active {
  background-color: var(--darksecondary)!important;
}

.theme-dark .channel-textarea-autocomplete-inner li {
  background-color: var(--darkprimary)!important;
}

.theme-dark .message-group .comment .markup pre code {
  background: #1A1C1F;
}

.theme-dark .message-group .comment .markup pre {
  border: 2px solid #1A1C1F;
}

.theme-dark .invite-button {
  background-color: #blue;
  border-color: #1A1C1F;
}

.theme-dark .message-group .embed {
  background-color: rgba(26, 28, 31, 1);
  border-color: rgba(26, 28, 31, 1);
}


/* === CHANNEL MEMBER BAR === */

.theme-dark .channel-members {
  background-color: var(--darkprimary);
}


/* === TITLE BAR === */

.theme-dark .chat .title-wrap {
  background-color: var(--darksecondary);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}


/* === PRIVATE MESSAGING === */

.private-channels .channel.selected {
  background: var(--darkprimary);
}

.private-channels .channel.selected:before {
  border-left: 2px solid var(--darksecondary);
}

.private-channels .channel:hover {
  background: var(--darksecondary);
  opacity: .75;
}

.private-channels {
  background-color: var(--darkprimary);
}

.private-channels .channel:hover:before {
  border-left: 2px inset var(--accent);
}

.private-channels .channel.selected .icon-friends {
  background-color: yell;
}


/* === VOICE CHANNEL CONTROLS === */

.account .btn-group {
  border-style: solid;
  border-color: var(--accent);
  border-width: 0px 0px 2px 0px;
  border-radius: 0%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: var(--darksecondary)
}

.account {
  background-color: var(--darkprimary);
  border: none;
}

#rtc-connection {
  background-color: var(--darkprimary)
}

.account .btn {
  background: none;
}

.account .btn-deafen, .account .btn-settings {
  box-shadow: none;
}

.account .btn-deafen, .account .btn-mute {
  border-right: none;
}

#rtc-connection .btn, #rtc-connection .btn-group, #rtc-connection .btn-disconnect {
  background: transparent;
  box-shadow: none;
  border: none;
}

#rtc-connection .btn-group {
  border-color: var(--accent);
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  box-shadow: none;
  border-radius: 0%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: var(--darksecondary)
}


/* === USER POPOUT === */

.user-popout .header {
  background: var(--darksecondary);
  border-radius: 0%;
}

.user-popout .avatar-wrapper .avatar-popout {
  border: 0;
  background-color: ;
}

.user-popout {
  border-radius: 0%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.user-popout:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bot-tag.bot-tag-invert {
  background-color: var(--accent);
  color: #fff!important;
}

.bot-tag {
  background-color: #5f0faf;
}

.user-popout .header.streaming .live-on-twitch {
  border-top: 0px solid transparent;
  text-decoration: none;
  width: 150px;
  margin-left: 129px;
  border-radius: 3px;
  padding: 4px 0;
}

.user-popout .header.streaming .activity {
  padding: 0;
}

.user-popout .avatar-wrapper .avatar-hint {
  margin: 0;
  background: var(--darkprimary);
  box-shadow: none;
}

.note textarea:focus {
  background: var(--darksecondary);
}

.user-popout .body {
  background: var(--darkprimary);
}

.user-popout .footer {
  background: var(--darksecondary);
  border-top: none;
}

.quick-message, .quick-message.isBlocked {
  background: transparent;
  border: none;
  color: #fff;
  border-bottom: 1px solid #fff;
  border-radius: 0;
}

/* === USER PROFILE === */

#user-profile-modal {
  border-radius: 0%;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  box-shadow: 0 10px 20px black, 0 6px 6px black;
}

#user-profile-modal:hover {
  box-shadow: 0 19px 38px black, 0 15px 12px black;
}

#user-profile-modal:after {
  visibility: visible;
}

#user-profile-modal:focus:after {
  visibility: visible;
}

.avatar-profile .status {
  border-color: var(--darksecondary);
}

#user-profile-modal .header {
  background-color: var(--accent);
  background-image: url('https://unsplash.it/1011/100000');
}

#user-profile-modal .scroller {
  background-color: var(--darksecondary);
  border-bottom: 0;
  color: var(--darkprimary)
}

#user-profile-modal .tab-bar-container {
  background-color: var(--darkprimary);
  border-bottom: 0;
}

#user-profile-modal .empty {
  background: var(--darksecondary);
}

#user-profile-modal .tab-bar .tab-bar-item, #user-profile-modal .tab-bar .tab-bar-item.selected {
  color: white;
}

#user-profile-modal .tab-bar .tab-bar-item.selected {
  font-weight: bold;
  border-bottom-color: #fff;
}

#user-profile-modal .guilds .section .connected-accounts .connected-account {
  border-width: 0px 0px 2px;
  background: var(--darkprimary);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 0%;
  border-color: var(--accent)
}

#user-profile-modal .guilds .section .connected-accounts {
  margin-left: -10px;
  margin-right: -10px;
  padding: 0 10px;
}

#user-profile-modal .guilds .section .connected-accounts .connected-account a:hover .connected-account-open-icon {
  opacity: 0.8;
}

#user-profile-modal .guilds .section .connected-accounts .connected-account .connected-account-name-inner .connected-account-name {
  color: #fff;
  font-weight: 600
}

#user-profile-modal .guilds .section .note textarea {
  padding: 5px;
  border-radius: 0px;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
}

#user-profile-modal .guilds .section .note textarea:hover:focus, #user-profile-modal .guilds .section .note textarea:focus {
  color: #fff;
  background: transparent;
}

#user-profile-modal .guilds .guild:hover {
  background: rgba(255, 255, 255, .1);
  color: #fff;
}

#user-profile-modal .header::after {
  display: none!important;
}

#user-profile-modal .avatar-wrapper {
  background-color: transparent;
}

#user-profile-modal .header .header-info .header-info-inner .discord-tag .username {
  color: #fff;
}

#user-profile-modal .header .header-info .header-info-inner .discord-tag .discriminator {
  color: rgba(255, 255, 255, .7);
}

#user-profile-modal .header .header-info .header-info-inner .activity {
  color: rgba(255, 255, 255, .5);
}


/* === TEXT/VOICE CHANNEL SECTION === */

.guild-channels {
  background-color: var(--darkprimary);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.guild-header header {
  background-color: var(--darksecondary);
}

.guild-channels .channel-text.selected:before {
  border-left: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background: blue;
}

.guild-channels .channel-text:hover.channel-muted:before, .guild-channels .channel-text:hover:not(.unread):before {
  border: none;
}

.guild-channels .channel .channel-name {}

.guild-channels .channel:hover .channel-name {
  font-weight: bold;
}

.guild-channels .channel-text.selected {
  background: var(--darksecondary);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.guild-channels .channel-text.selected:hover {
  background: var(--darksecondary);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.guild-channels .channel-text:hover {
  background: var(--darksecondary);
  opacity: .30 margin-left: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.popout.popout-bottom {
  margin: 0px;
}

.guild-header header:hover {
  background-color: var(--darksecondary);
}

.guild-header.popout-open header {}

.guild-header header {
  height: 57px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.theme-dark .popout-menu .popout-menu-separator {
  border-bottom: 1px solid var(--darkprimary);
}

.theme-dark .popout-menu {
  background: var(--darksecondary);
}

/* === GUILD SELECTION BAR === */

.guilds-wrapper {
  background: var(--darksecondary);
}

.guilds-wrapper .guild.guilds-add:after, .guilds-wrapper .guild.guilds-add:hover:after, .guilds-wrapper .guilds .guild a:hover, .guilds-wrapper .guilds .guild.selected .guild-inner, .guilds-wrapper .guilds .guild.active .guild-inner {
  background-color: transparent !important;
}

.guilds-wrapper .guilds .guild.selected {
  background: transparent;
}

.guilds-wrapper .guilds .guild.selected .guild-inner {
  background-color: transparent !important;
}

.guilds-wrapper .guilds .friends-online {
  display: none;
}

.guilds-wrapper .guild.guilds-add {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--darkprimary);
  color: var(--accent);
  border: 1px dashed var(--accent);
  padding: 0;
  font-size: 40px;
  font-weight: 200;
  text-align: center;
  -webkit-transition: border-color .25s ease, color .25s ease;
  transition: border-color .25s ease, color .25s ease;
  position: relative !important;
  left: 0px !important;
  top: 4px;
}

.guilds-wrapper .guilds .guild-separator {
  position: relative;
  width: 90%;
  margin: 0;
  padding-bottom: 10px;
  left: -5px;
}

.guilds-wrapper .guilds .guild .guild-inner {
  background: transparent !important;
}

.guilds-wrapper .guilds .guild.audio .guild-inner:after {
  top: 30px;
}

/* === NOTIFICATIONS, RED CIRCLE = UNREAD MESSAGES, PURPLE SQUARE = UNREAD MESSAGES IN SELECTED GUILD, PURPLE CIRCLE WITH NUMBER = @MENTION === */

.badge {
  background-color: #5f0faf;
  border-radius: 50%;
}

.new-messages-indicator.new-messages-indicator-mention {
  background-color: #5f0faf;
  border-radius: 0%;
}

.guilds-wrapper .guilds .guild.selected:before, .guilds-wrapper .guilds .guild.selected.unread:before, .guilds-wrapper .guilds .guild.unread:before {
  z-index: 100;
  -webkit-transform: translate(50px, -20px) scale(1.2);
  transform: translate(16px, 15px) scale(1.2);
  background: var(--accent);
  height: 12px;
  width: 12px;
  margin-top: 0px;
  border-radius: 50%;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.guilds-wrapper .guilds .guild.selected.unread:before {
  visibility: visible !important;
  transform: translate(40px, -3px) scale(1.2);
  border-radius: 0%;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  background: #5f0faf;
}

.guilds-wrapper .guilds .guild.selected:before {
  content: "" !important;
  width: 4px;
  height: 64px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 100;
  visibility: hidden;
}

.dms .guild .badge, .guilds .guild.unread .badge, .guilds .guild .badge {
  -webkit-transform: translate(-4px, -34px)!important;
  transform: translate(-37px, 4px)!important;
  z-index: 100;
}


/* === SCROLL BAR === */

.scroller-wrap .scroller::-webkit-scrollbar {
  width: 14px;
}

.scroller.guild-channels::-webkit-scrollbar {
  display: none;
}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
  border: 4px solid rgba(255, 255, 255, 0) !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb {
  border: 4px solid rgba(255, 255, 255, 0) !important;
  background-color: rgba(225, 225, 225, 0.1) !important;
  display: initial;
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb:hover {
  border: 4px solid rgba(255, 255, 255, 0) !important;
  background-color: rgba(225, 225, 225, 0.15) !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb:active {
  border: 4px solid rgba(255, 255, 255, 0) !important;
  background-color: rgba(225, 225, 225, 0.2) !important;
}


/* === CHAT MESSAGES AND BODY === */

.divider.divider-red+.divider {
  display: none;
}

.chat .jump-to-present-bar {
  left: inherit;
}

#app-mount>div>div.modal-container>div.modal>div>form>div.form-inner>div>div.comment>div>div.body>div>div.markup {
  color: white;
}

.confirm-message-modal .form-inner .message-group.hide-overflow .comment .message-first .body .message-text .markup code.inline {
  background: var(--darkprimary) !important;
}

#app-mount>div>div.modal-container>div.modal>div>form>div.form-inner>div>div.comment>div>div.body>div>div.markup>code {
  background: var(--darkprimary);
}

#app-mount>div>div.modal-container>div.modal>div>form>div.form-inner>div>div.comment>div>div.body>div>div.markup>pre {
  color: rgb(0, 0, 0);
  background: #1A1C1F;
  border: 2px solid #1A1C1F;
}

#app-mount>div>div.modal-container>div.modal>div>form>div.form-inner>div>div.comment>div>div.body>div>div.markup>pre>code.hljs {
  background: #1A1C1F;
  color: #839496;
}

.message-group .edit-message .channel-textarea-inner {
  border: 1px solid var(--accent);
}

.message-group .edit-message .edit-operation>a {
  color: var(--accent);
}

.theme-dark .chat>.content, .theme-dark .friends-table, .theme-dark .messages-wrapper {
  background-color: var(--darksecondary) !important;
}

.theme-dark .message-group .comment .markup {
  color: hsla(0, 0%, 100%, .7) !important;
}

.theme-dark .message-group .comment .markup code.inline, .theme-dark .message-group .comment .markup pre code {
  background: #1A1C1F;
}

/* === NITRO USER TAGS === */

.avatar-large[style*="a_"]+.comment .message.first .body .username-wrapper:after {
  content: 'Nitro';
  color: white;
  margin-left: 5px;
  background: var(--accent);
  line-height: 16px;
  text-transform: uppercase;
  vertical-align: bottom;
  border-radius: 3px;
  margin-left: 6px;
  padding: 1px 2px;
  font-size: 10px;
  font-weight: 600;
  cursor: text;
}

.member.member-status>.avatar-small[style*="a_"]+.member-inner .member-username:after {
  content: 'Nitro';
  color: white;
  margin-left: 5px;
  background: var(--accent);
  line-height: 15px;
  height: 14px;
  text-transform: uppercase;
  vertical-align: bottom;
  border-radius: 3px;
  margin-left: 6px;
  padding: 1px 2px;
  font-size: 10px;
  font-weight: 600;
}

.channel-textarea-autocomplete-inner .avatar-small[style*="a_"]+.discord-tag:after, .channel-textarea-autocomplete-inner .avatar-small[style*="a_"]+.username:after {
  content: ' ';
  position: absolute;
  background: url(https://canary.discordapp.com/assets/65f0a0df5563e21de7b1aeeafaf31d78.svg);
  background-size: 20px;
  width: 20px;
  height: 15px;
  margin-left: 5px;
}

.channel.channel-voice:not(.collapsed) .avatar-small[style*="a_"]+span:after {
  content: ' ';
  position: absolute;
  background: url(https://canary.discordapp.com/assets/65f0a0df5563e21de7b1aeeafaf31d78.svg);
  background-size: 20px;
  width: 20px;
  height: 15px;
  margin-top: 1.5px;
  margin-left: 5px;
}

.channel.channel-voice li.speaking .avatar-small[style*="a_"] {
  border-color: var(--accent);
}

/* === SQUARE LARGE AVATARS === */

.avatar-large {
  width: 60px;
  height: 60px;
  background-size: 60px 60px;
  border-radius: 0px;
  border-radius: 20%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);;
}

.avatar-large:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.avatar-small {
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  border-radius: 20%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* === LIGHT THEME DISABLE === */

.app.theme-light {
  visibility: hidden;
  white-space: pre;
}

.app.theme-light:before {
  content: 'Woops! White Theme isnt supported.\A\APress [CTRL] + [,] to access your settings.';
  visibility: visible !important;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 26pt;
  width: 100%;
  text-align: center;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
